* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica, Verdana;
    background-color: #252B42;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    color: white;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.col-3 {
    flex: 0 1 30%;
    min-width: 300px;
}

.col-2 {
    flex: 0 1 48%;
}

.container {
    padding-left: 13.542%;
    padding-right: 13.542%;
    max-width: 1440px;
    margin: 0 auto;
}

.top-section {
    padding-bottom: 10.5vh;
}

.top-section_fullscreen {
    min-height: 740px;
    max-height: 823px;
    height: 100vh;
}

.top-section__header {
    margin: 80px 0;
    text-align: center;
}

.top-section__desc {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.header {
    position: absolute;
    color: white;
    height: 12.6vh;
    width: 100%;
    max-width: 1440px;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__content * {
    margin-top: auto;
    margin-bottom: auto;
}

.main-nav-block {
    width: 373px;
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 280px;
    display: inline-block;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    display: inline-block;
    font-weight: 400;
}

.menu__item > a:hover {
    color: #ff7b47;
}

.menu__item_active {
    font-weight: 600;
}

.menu__item_active {
    position: relative;
}

.menu__item_active::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -5px;
}

.menu__item_active::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: -5px;
}


.header__icon_last {
    margin-left: 18px;
}

.header__burger {
    display: none;
}

.section_first {
    padding-top: 18.7vh;
}

.prefrace {
    padding-bottom: 7.075vh;
    background-image: url("../media/first-section-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.prefrace h4 {
    margin: 35px 0;
}

.prefrace__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: white;
    border-radius: 37px;
    border: none;
    padding: 10px 36px;
    gap: 10px;
}

.prefrace__btn_orange {
    background-color: #FF7B47;
    margin-right: 10px;
}

.prefrace__btn_opaque {
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}

.book-card {
    width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    padding: 40px;
}

.book-card__header {
    margin-bottom: 40px;
}

.book-form {
    font-size: 14px;
}

.book-form_vertical {
    display: flex;
    flex-direction: column;
}

.book-form__label {
    font-weight: 600;
    line-height: 24px;
}

.book-form__input {
    margin: 12px 0;
    border-radius: 5px;
    height: 50px;
    width: 245px;
    padding-left: 21px;
    font-weight: 400;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: #737373;
}

.book-form__input:last-of-type {
    margin-bottom: 0;
}

.book-form__btn {
    border: none;
    background-color: #FF7B47;
    width: 245px;
    height: 58px;
    border-radius: 5px;
    margin-top: 40px;
}

.btn-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: white;
}

.clients-matter__features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-card {
    background-color: #D9EDFF;
    border-radius: 10px;
}

.feature-card__header {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}

.feature-card__icon {
    padding: 1.5em 1em;
    margin-right: 15px;
    color: #0D5C63;
    background-color: white;
    border-radius: 200px;
}

.feature-card__icon_award {
    padding: 1.5em 1.2em;
}

.feature-card__features-list {
    padding: 30px 50px;
    border-radius: 10px;
    background-color: white;
}

.feature-card__features-list li {
    font-weight: 600;
    color: #737373;
    font-size: 14px;
    line-height: 24px;
}

.feature-card__features-list a {
    color: #0D5C63;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    line-height: 24px;
}

.who {
        background: url(../media/who-custom-bg.png) no-repeat bottom center;
        background-size: 100% 46%;
}

.who__video {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.contact-us {
    background-image: url("../media/contact-us-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 11vh;
    padding-bottom: 11vh;
}

.contact-us h5 {
    color: white;
}

.contact-us__form {
    margin-top: 4.9vh;
    width: 598px;
}

.contact-us__form textarea {
    width: 100%;
    height: 140px;
    border: 1px solid #BDBDBD;
    padding-top: 16px;
    resize: none;
}

.contact-us__form div {
    display: flex;
    justify-content: space-between;
}

.clients-review__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review {
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    background-color: white;
    border-radius: 5px;
}

.rating {
    color: #F3CD03;
}

.person {
    display: flex;
}

.person__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.person__name {
    color: #FF7B47;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.person__prof {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.review__p {
    margin: 20px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.temmates-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teammate {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.teammate__info {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: center;
    text-align: center;
}

.teammate__social__icons i {
    color: #0D5C63;
    margin-right: 15px;
}

.temmate__post {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0;
}

.quick-contact {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quick-contact p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    color: #737373;
} 

.quick-contact__btn {
    background: #FF7B47;
    border-radius: 5px;
    border: none;
    padding: 15px 40px;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: #364067 solid 1px;
}

.social__icons {
    padding: 0 40px;
}

.social__icons a {
    margin-right: 20px;
}

.social__icons a:last-child {
    margin-right: 0;
}

.social__icons a:nth-child(1) {
    color: #335BF5;
}

.social__icons a:nth-child(2) {
    color: #E51F5A;
}

.social__icons a:nth-child(3) {
    color: #21A6DF;
}

.social__icons a:nth-child(4) {
    color: #E42F08;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}

.footer-nav > nav {
    margin-right: 56px;
}

.footer-nav h5 {
    color: white;
    margin-bottom: 20px;
}

.footer-nav__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer-nav__link a {
    color: #BDBDBD;
}

.footer-nav__form {
    display: flex;
}

.footer-nav__btn {
    height: 58px;
    border: none;
    width: 36.5%;
    border-radius: 0 5px 5px 0;
    background-color: #FF7B47;
}

.footer-nav__input {
    height: 58px;
    width: 63.5%;
    border-radius: 5px 0 0 5px;
    margin: 0;
}

.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: #17213C;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}


@media (max-width: 1399px) {
    .temmates-grid, .clients-matter__features-grid, .clients-review__grid {
        justify-content: center;
        row-gap: 30px;
        column-gap: 15%;
    }
}

@media (max-width: 1079px) {
    .top-section_fullscreen {
        height: auto;
        max-height: none;
        min-height: none;
    }

    .prefrace {
        flex-direction: column;
    }

    .prefrace > div {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .prefrace > h4 {
        margin: 10px 0;
    }

    .prefrace__btn {
        width: 185px;
    }

    .container {
        padding-left: 43px;
        padding-right: 43px;
    }
}

@media (max-width: 767px) {
    .prefrace h1,
    .prefrace h4 {
        text-align: center;
    }

    br {
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 57px;
    }

    .header {
        height: 532px;
    }

    .header__content {
        height: 104px;
    }

    .header__burger {
        display: block;
        height: 14px;
        width: 23px;
        position: relative;
    }

    .header__icon_last {
        margin-left: 0;
    }

    .main-nav-block {
        justify-content: right;
        margin-right: 0;
    }

    .main-nav-block div > * {
        display: inline-block;
        margin-left: 24px;
    }

    .menu {
        display: none;
    }

    .header__burger span,
    .header__burger::before,
    .header__burger::after {
        content: '';
        height: 2px;
        background-color: white;
        position: absolute;
        right: 0;
    }

    .header__burger::before {
        width: 100%;
        top: 0px;
    }

    .header__burger span {
        width: 60%;
        top: 6px
    }

    .header__burger::after {
        width: 30%;
        bottom: 0px;
    }
    .menu_active {
        z-index: 500;
        background: #252B42;
    }

    .menu_active .menu {
        top: 164px;
        width: auto;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .menu_active .menu > ul {
        flex-direction: column;
    }

    .menu_active .menu__item {
        font-size: 30px;
        margin-top: 30px;
    }

    .menu__item_active::before {
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        top: -5px;
    }

    .menu__item_active::after {
        width: 100%;
        height: 2px;
        right: 0;
        bottom: -5px;
    }

    .contact-us__form {
        margin-top: 4.9vh;
        width: 100%;
        text-align: center;
    }
 
    .contact-us__form > div {
        flex-direction: column;
    }

    .col-2 {
        flex: 0 1 auto;
    }

    .book-form__input.col-2 {
        width: 100%;
        margin-bottom: 0px;
    }

    .footer-nav__form > .book-form__input {
        margin: 0px;
    }

    .quick-contact {
        flex-direction: column;
    }

    .quick-contact p {
        margin-bottom: 50px;
    } 

    .social {
        flex-direction: column;
    }

    .social__icons {
        padding: 0;
        margin-top: 50px;
    }
}
